<!DOCTYPE html>
<html>
<title>{{ first_name }} {{ last_name }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
.likes{
  background-color: transparent;
  border:none;
}
</style>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/home/" class="w3-bar-item w3-button w3-padding-large w3-theme-d4" title="Home"><i class="fa fa-home w3-margin-right"></i>POLAROID</a>
  <!--<i class="fa fa-home w3-margin-right"></i>-->
  <a href="/all_friends/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Friends ({{all_friends_count}})"><i class="fa fa-user"></i></a>
  <a href="/searchpage/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Search"><i class="fa fa-search"></i></a>
  
  <a href="/logout/" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout" onclick="return confirm('Are you sure to logout?');">
    Logout
  </a>

  <a href="/userprofile/" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    {% if uploaded_pic_url  %}
    <img src="{{ uploaded_pic_url.url }}" class="w3-circle" style="height:23px;width:23px" alt="Profile Pic">
    {% else %}
    <img src="/media/default.png" class="w3-circle" style="height:23px;width:23px" alt="Profile Pic">
    {% endif %}
  </a>
  
  
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>



<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white" style="padding-top: 10px;">
        <div class="w3-container">
         <h4 class="w3-center"> {{ first_name }} {{ last_name }}     </h4>
         {% if uploaded_pic_url %}
         <a href="/userprofile/"><p class="w3-center"><img src="{{ uploaded_pic_url.url }}" class="w3-circle" style="height:106px;width:106px" title="My Account"></p></a>
         {% else %}
         <a href="/userprofile/"><p class="w3-center"><img src="/media/default.png" class="w3-circle" style="height:106px;width:106px" title="My Account"></p></a>
         {% endif %}

         <hr>
         {% if phone %}
          <p><i class="fa fa-mobile fa-fw w3-margin-right w3-text-theme"></i> {{ phone }}</p>
         {% endif %}
         {% if city %}
          <p>
            <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> 
            {{ city }}
          </p>
         {% endif %}
         {% if dob %}
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{ dob }} </p>
         {% endif %}
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Polaroids</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
          {% for i in allposts_mine %}
           <div class="w3-half">
             <img src="{{ i.postpic.url }}" style="width:100%" class="w3-margin-bottom">
           </div>
          {% endfor %}
         </div>
          </div>
        </div>      
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container" style="padding-top: 10px;">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
            <span class="w3-tag w3-small w3-theme-d2">Games</span>
            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
            <span class="w3-tag w3-small w3-theme">Games</span>
            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Design</span>
            <span class="w3-tag w3-small w3-theme-l4">Art</span>
            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          </p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small" style="padding-top: 10px;">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>People are looking at your profile. Find out who.</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">

    <form action="polaroid/addpost/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <!--<h6 class="w3-opacity">Social Media template by w3.css</h6>-->
              <h6 class="w3-opacity" style="font-size: 15px; padding-top: 10px;">Post Polaroid</h6>
              <textarea name="postcaption" rows="3" cols="85" class="w3-border w3-padding" placeholder="Caption Your Polaroid"></textarea>
              <input type="file" name="postpic" accept="image/*" class="likes" required>
              <button type="submit" class="likes"><i class="fa fa-camera"></i> Share Polaroid</button>
              
              <p style="font-size: 12px;"><br/>We recommend you to upload a square Polaroid for best results.</p>
            </div>
          </div>
        </div>
      </div>
    </form>

{% for i in allposts %}

{% if i.user_email.user_email == email %}


<div style="padding-left: 140px;">
  <div class="w3-container w3-card w3-white w3-round w3-margin" style="width: 70%;"><br>
    {% if i.user_email.user_email == email  %}
      <a href="/userprofile/">
        {% if i.user_email.profilepic %}
          <img src="{{i.user_email.profilepic.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
        {% else %}
          <img src="/media/default.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
        {% endif %}
      </a>
    {% else %}
      <a href="/otherusers/{{i.user_email.user_email}}/">
        {% if i.user_email.profilepic %}
          <img src="{{i.user_email.profilepic.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
        {% else %}
          <img src="/media/default.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
        {% endif %}
      </a>
    {% endif %}
    <span class="w3-right w3-opacity" style="padding-top: 10px;">{{i.posttime|timesince}} ago</span>
    <h4 style="padding-top: 10px;">
      {{i.user_email.first_name}} {{i.user_email.last_name}}
    </h4>
    <br>
    <hr class="w3-clear">
    <img src="{{ i.postpic.url }}" style="width:100%;" class="w3-margin-bottom">
    <br/>
    
          {% if i.user_email.user_email in i.isLiked %}
            <a href="/dislikefromhome/{{i.postid}}/{{i.user_email.user_email}}"><i class="fa fa-heart" style="color:red"></i> </a>{{ i.like_set.count }}
              {% if i.like_set.count == 1 %}
                <button type="button" class="likes" data-toggle="modal" data-target="#like{{i.postid}}">
                  Like
                </button>
              {% else %}
                <button type="button" class="likes" data-toggle="modal" data-target="#like{{i.postid}}">
                  Likes
                </button>
              {% endif %}
            {% else %}
            <a href="/likefromhome/{{i.postid}}/{{i.user_email.user_email}}"><i class="fa fa-heart-o"></i> </a>{{ i.like_set.count }} 
              {% if i.like_set.count == 1 %}
                <button type="button" class="likes" data-toggle="modal" data-target="#like{{i.postid}}">
                  Like
                </button>
              {% else %}
                <button type="button" class="likes" data-toggle="modal" data-target="#like{{i.postid}}">
                  Likes
                </button>
              {% endif %}
          {% endif %}


          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="likes" data-toggle="modal" data-target="#comment{{i.postid}}">
            {% if i.comment_set.count == 1 %}
              {{i.comment_set.count}} Comment
            {% else %}
              {{i.comment_set.count}} Comments
            {% endif %}
          </button>

    <hr class="w3-clear">
    <p>
      {{i.postcaption}}
      <p class="w3-opacity"> {{ i.posttime }} </p>
    </p>
  </div>
</div>


<!-- Modal for likes    -->
<div class="modal fade" id="like{{i.postid}}">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Liked By</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      {% for j in i.like_set.all %}
          {{ j.userid.first_name }} {{ j.userid.last_name }}<br/>
      {% endfor %}
    </div>
    <div class="modal-footer">
      <button type="button" class="likes" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>







<!-- Modal for comments   -->
<div class="modal fade" id="comment{{i.postid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      {% for j in i.comment_set.all %}
        {% if i.postid == j.postid.postid %}

        <p style="text-align: left; padding-left: 40px; color: black;">
          <b style="color: darkblue;">
            {% if j.userid.user_email != i.user_email.user_email %}
              <button class="likes" style="padding-left: 0px;" onclick="window.location.href = '/otherusers/{{j.userid.user_email}}';">
                {{j.userid.first_name}} {{j.userid.last_name}}
              </button>:
            {% else %}
              {{j.userid.first_name}} {{j.userid.last_name}}:
            {% endif %}
          </b>
          {{j.content}}
        </p>
        {% endif %}
      {% endfor %}
    <hr>
      <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
    <form action="/addcommentfromhome/{{i.postid}}/{{i.user_email.user_email}}/" method="POST">
      {% csrf_token %}
      <p style="color: darkred;">Comment:
      <input type="text" name="content" size="50" style="color: black;" required>
      <button type="submit" class="likes" style="color: darkblue;"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </p>
    </form>
    </div>
  </div>
</div>
</div>


{% endif %}
{% for j in all_friends %}
{% if j.user1.user_email == email and j.user2.user_email == i.user_email.user_email %}


  <div style="padding-left: 140px;">
    <div class="w3-container w3-card w3-white w3-round w3-margin" style="width: 70%;"><br>
      {% if i.user_email.user_email == email  %}
        <a href="/userprofile/">
        {% if i.user_email.profilepic %}
          <img src="{{i.user_email.profilepic.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
        {% else %}
          <img src="/media/default.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
        {% endif %}
        </a>
      {% else %}
        <a href="/otherusers/{{i.user_email.user_email}}/">
        {% if i.user_email.profilepic %}
          <img src="{{i.user_email.profilepic.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
        {% else %}
          <img src="/media/default.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height: 60px;">
        {% endif %}
        </a>
      {% endif %}
      <span class="w3-right w3-opacity" style="padding-top: 10px;">{{i.posttime|timesince}} ago</span>
      <h4 style="padding-top: 10px;">
        {{i.user_email.first_name}} {{i.user_email.last_name}}
      </h4>
      <br>
      <hr class="w3-clear">
      <img src="{{ i.postpic.url }}" style="width:100%;" class="w3-margin-bottom">
      <br/>
      
            {% if email in i.isLiked %}
              <a href="/dislikefromhome/{{i.postid}}/{{i.user_email.user_email}}"><i class="fa fa-heart" style="color:red"></i> </a>{{ i.like_set.count }}
                {% if i.like_set.count == 1 %}
                  <button type="button" class="likes" data-toggle="modal" data-target="#like{{i.postid}}">
                    Like
                  </button>
                {% else %}
                  <button type="button" class="likes" data-toggle="modal" data-target="#like{{i.postid}}">
                    Likes
                  </button>
                {% endif %}
              {% else %}
              <a href="/likefromhome/{{i.postid}}/{{i.user_email.user_email}}"><i class="fa fa-heart-o"></i> </a>{{ i.like_set.count }} 
                {% if i.like_set.count == 1 %}
                  <button type="button" class="likes" data-toggle="modal" data-target="#like{{i.postid}}">
                    Like
                  </button>
                {% else %}
                  <button type="button" class="likes" data-toggle="modal" data-target="#like{{i.postid}}">
                    Likes
                  </button>
                {% endif %}
            {% endif %}


            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="likes" data-toggle="modal" data-target="#comment{{i.postid}}">
              {% if i.comment_set.count == 1 %}
                {{i.comment_set.count}} Comment
              {% else %}
                {{i.comment_set.count}} Comments
              {% endif %}
            </button>

      <hr class="w3-clear">
      <p>
        {{i.postcaption}}
        <p class="w3-opacity"> {{ i.posttime }} </p>
      </p>
    </div>
  </div>


<!-- Modal for likes    -->
<div class="modal fade" id="like{{i.postid}}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Liked By</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        {% for j in i.like_set.all %}
            {{ j.userid.first_name }} {{ j.userid.last_name }}<br/>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="likes" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>







<!-- Modal for comments   -->
<div class="modal fade" id="comment{{i.postid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        {% for j in i.comment_set.all %}
          {% if i.postid == j.postid.postid %}

          <p style="text-align: left; padding-left: 40px; color: black;">
            <b style="color: darkblue;">
              {% if j.userid.user_email != i.user_email.user_email %}
                <button class="likes" style="padding-left: 0px;" onclick="window.location.href = '/otherusers/{{j.userid.user_email}}';">
                  {{j.userid.first_name}} {{j.userid.last_name}}
                </button>:
              {% else %}
                {{j.userid.first_name}} {{j.userid.last_name}}:
              {% endif %}
            </b>
            {{j.content}}
          </p>
          {% endif %}
        {% endfor %}
      <hr>
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      <form action="/addcommentfromhome/{{i.postid}}/{{i.user_email.user_email}}/" method="POST">
        {% csrf_token %}
        <p style="color: darkred;">Comment:
        <input type="text" name="content" size="50" style="color: black;" required>
        <button type="submit" class="likes" style="color: darkblue;"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </p>
      </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
</div>
<!-- End Left Column -->
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container" style="padding-top: 10px;">
          <p>Upcoming Events:</p>
          <img src="/media/forest.jpg" alt="Forest" style="width:100%;">
          <p><strong>Holiday</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container" style="padding-top: 10px;">
          <p>Friend Requests ({{ all_requests_count }})</p>
        </div>
        {% for i in all_requests %}
        <div class="w3-container">
          {% if i.request_from.profilepic %}
          <a href="/otherusers/{{i.request_from.user_email}}"><img src="{{ i.request_from.profilepic.url }}" class="w3-circle" style="height:106px;width:106px" title="{{ i.request_from.first_name }} {{ i.request_from.last_name }}"><br></a>
          {% else %}
          <img src="/media/default.png" class="w3-circle" style="height:106px;width:106px" title="{{ i.request_from.first_name }} {{ i.request_from.last_name }}"><br>
          {% endif %}
          <span>{{ i.request_from.first_name }} {{ i.request_from.last_name }}</span>
          <div class="w3-row">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept" onclick="window.location.href = '/accept_request_from_home/{{i.request_from.user_email}}';"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline" onclick="window.location.href = '/decline_request_from_home/{{i.request_from.user_email}}';"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
        <br/>
        {% endfor %}
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
        <p style="padding-top: 10px;">ADS</p>
      </div>
      <br>
      
      <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p style="padding-top: 20px;"><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer 
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>
-->
<footer class="w3-container w3-theme-d5">
  <p>All Credits to w3schools for the templates.</p>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
